<template>
    <PageComponent title="Dashboard">
        Content here
    </PageComponent>
</template>

<script setup>
import PageComponent from "../components/PageComponent.vue";
</script>
<style>

</style>
