<template>
    <PageComponent title="Surveys">
        your content here
    </PageComponent>
</template>

<script setup>
import PageComponent from "../components/PageComponent.vue";


</script>
<style>

</style>
